.navbar{
  box-shadow: 0 4px 4px -1px rgba(0,0,0,.2);
  justify-content: center;
  text-decoration: none;
  background-color: #B9ACAC;
  margin-bottom: 10px;

}

.card-class{
  box-shadow: 3px 6px 6px -1px rgba(0,0,0,.2);
  width: 12rem;
  overflow: hidden;
  height: 32rem;
  background-color: #474242 !important;
}

.home-card-class{
  box-shadow: 3px 6px 6px -1px rgba(0,0,0,.2);
  background-color: #B1A3A3 !important;
}

.img-game-size{
  overflow: hidden;
  width: 12rem;
  height: 15rem;
}

.img-console-size{
  width: 12rem;
  height: 15rem;
}

.login-card{
  box-shadow: 0 4px 4px -1px rgba(0,0,0,.2);
  background-color: #B9ACAC;
}
